# Screenshots de referencia (no son parte del sitio)
Captura de pantalla*
mypersonaltrainerwebsite.com_.png
www.instagram.com_wolf.athlete.team_.png

# Video sin referenciar actualmente
video hero.mp4

# Capturas de referencia mobile
web celu/
